<notifier-container></notifier-container>

<div class="container my-4">
<!-- Default form login -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
<div class="text-center border border-light p-5">

  <p class="h4 mb-4"> Reset Password</p>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">  
  
  <input type="password" formControlName="password" 
   class="form-control mb-4" placeholder="Password"
   [ngClass]="{'is-invalid': f['password'].touched && f['password'].invalid }">
   <div class="alert alert-danger" *ngIf="f['password'].touched && !f['password'].valid">
    <div *ngIf="f['password'].errors?.['required']">password Name is required</div>
    <div *ngIf="f['password'].errors?.['minLength']">Password must be at least 6 characters</div>
    <div *ngIf="f['password'].errors?.['hasNumber']"> Must contain at least 1 number!</div>
    <div *ngIf="f['password'].errors?.['hasCapitalCase']">Must contain at least 1 in Capital Case</div>
    <div *ngIf="f['password'].errors?.['hasSmallCase']">Must contain at least 1 Letter in Small Case!</div>
  </div>
  
  <!-- Password -->
  <input type="password" formControlName="confirmPassword"  class="form-control mb-4"
   placeholder="Confirm Password"
   [ngClass]="{'is-invalid': f['confirmPassword'].touched && f['confirmPassword'].invalid }">
   <div class="alert alert-danger" *ngIf="f['confirmPassword'].touched && !f['confirmPassword'].valid">
    <div *ngIf="f['confirmPassword'].errors?.['required']">confirm Password Name is required</div>
    <div *ngIf="f['confirmPassword'].errors?.['matching']">confirm Passwords must match</div>
  </div>
  
  <!-- Sign in button -->
  <button mdbBtn color="info"  class="my-4" type="submit" [class.disabled]="!resetForm.valid" >Reset Password
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
  </button>  
    </div>
  </form>
</div>
<!-- Default form login -->
</div>
</div>
<div class="col-md-3">

</div>
</div>