<notifier-container></notifier-container>

<div class="container my-4">
<!-- Default form login -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
<div class="text-center border border-light p-5">

  <p class="h4 mb-4"> Forgot Password</p>

  <!-- Email -->
  <input  id="defaultLoginFormEmail" 
  class="form-control mb-4" placeholder="User Name" type="text">

 
 
  <!-- Sign in button -->
  <button mdbBtn color="info"  class="my-4"  >Reset Password
    <i class="fa fa-spinner fa-spin" ></i>
  </button>
  

  <!-- Register -->
  <p>Not a member?
    <a routerLink="/registration">
      Register</a>
  </p>

 

</div>
<!-- Default form login -->
</div>
</div>
<div class="col-md-3">

</div>
</div>