<notifier-container></notifier-container>

<div class="container my-4">
<!-- Default form login -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
<div class="text-center border border-light p-5">

  <p class="h4 mb-4"> Forgot Password</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="userName" 
  class="form-control mb-4" placeholder="User Name" type="text"
  [ngClass]="{'is-invalid': f['userName'].touched && f['userName'].invalid }">

  <div class="alert alert-danger" *ngIf="f['userName'].touched && !f['userName'].valid">
    <div *ngIf="f['userName'].errors?.['required']">user Name is required</div>
    <div *ngIf="f['userName'].errors?.['minlength']">user Name must be at least 6 characters long.</div>
    <div *ngIf="f['userName'].errors?.['maxLength']">user Name can be max 10 characters long.</div>
  </div>
 
  <!-- Sign in button -->
  <button mdbBtn color="info"  class="my-4" type="submit">Reset Password
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
  </button>
  </form>

  <!-- Register -->
  <p>Not a member?
    <a routerLink="/registration">
      Register</a>
  </p>

 

</div>
<!-- Default form login -->
</div>
</div>
<div class="col-md-3">

</div>
</div>