<notifier-container></notifier-container>

<div class="container my-4">
<!-- Default form login -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
<div class="text-center border border-light p-5">

  <p class="h4 mb-4"> Sign in </p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <input type="text" formControlName="userName" 
  class="form-control mb-4" placeholder="User Name" type="text"
  [ngClass]="{'is-invalid': f['userName'].touched && f['userName'].invalid }">

  <div class="alert alert-danger" *ngIf="f['userName'].touched && !f['userName'].valid">
    <div *ngIf="f['userName'].errors?.['required']">user Name is required</div>
    <div *ngIf="f['userName'].errors?.['minlength']">user Name must be at least 6 characters long.</div>
    <div *ngIf="f['userName'].errors?.['maxLength']">user Name can be max 10 characters long.</div>
  </div>

  <input type="password" formControlName="password" 
   class="form-control mb-4" placeholder="Password"
   [ngClass]="{'is-invalid': f['password'].touched && f['password'].invalid }">
   <div class="alert alert-danger" *ngIf="f['password'].touched && !f['password'].valid">
    <div *ngIf="f['password'].errors?.['required']">password Name is required</div>
    <div *ngIf="f['password'].errors?.['minLength']">Password must be at least 6 characters</div>
    <div *ngIf="f['password'].errors?.['hasNumber']"> Must contain at least 1 number!</div>
    <div *ngIf="f['password'].errors?.['hasCapitalCase']">Must contain at least 1 in Capital Case</div>
    <div *ngIf="f['password'].errors?.['hasSmallCase']">Must contain at least 1 Letter in Small Case!</div>
  </div>

  <div class="d-flex justify-content-around">
    <div>
      <!-- Remember me -->
      <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
    </div>
    <div>
      <!-- Forgot password -->
      <a routerLink="/forgotpassword">Forgot password?</a>
    </div>
  </div>

  <!-- Sign in button -->
  <button mdbBtn color="info"  class="my-4" type="submit" [class.disabled]="!loginForm.valid">Sign in
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
  </button>
</form>

  <!-- Register -->
  <p>Not a member?
    <a routerLink="/registration">
      Register</a>
  </p>

  <!-- Social login -->
  <p>or sign in with:</p>

  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="twitter"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="linkedin"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="github"></mdb-icon>
  </a>

</div>
<!-- Default form login -->
</div>
</div>
<div class="col-md-3">

</div>
</div>